extends layout

block content
  h1 FCC Project : RESTful API
  h2 Time MicroService
  p.blue Example Usage :
  code localhost:3000/January 27 14, 2017
  br
  code localhost:3000/1485475200
  p.blue Expected Output is JSON Object :
  code { "unix": 1485475200, "natural": "January 27, 2017"}
